/*---------- FONTS ----------*/
@font-face {
    font-family: "brandon_grotesqueblack";
    src: url('fonts/brandon_blk-webfont.woff2') format('woff2'),
         url('fonts/brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "brandon_grotesquemedium";
    src: url('fonts/brandon_med-webfont.woff2') format('woff2'),
         url('fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------- GLOBAL ----------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
    font-family: "brandon_grotesquemedium", sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
}
body {
    background-color: #151513;
    background-position: 0px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.nav {
    margin-left: auto;
    margin-right: auto;
    padding-top: 81px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
}
.nav a {
    color: #C9AD88;
    text-decoration: none;
}
.nav a:hover {
    color: #ffffff;
}
.work {
    padding-right: 63px;
}
.logo {
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.logo img {
    width: 55px;
    height: auto;
}
.about {
    padding-left: 63px;
}     
.st0 {
    fill:#151513;
}
svg {
    width: 19px;
    height: 19px;
    fill: #C9AD88;
}
.frontpage {
    min-height: 100%;
}
.header {
    text-align: center;
    padding-top: 150px;
}
h1 {
    font-size: 80px;
    color: #ffffff;
    letter-spacing: 5px;
    font-family: "brandon_grotesqueblack", sans-serif;
}
p {
    font-size: 33px;
    color: #C9AD88;
    letter-spacing: 10px;
}
.arrow {
    fill: none;
    stroke: #C9AD88;
    stroke-width: 3;
    stroke-miterlimit: 10;
    transform: scale(2.5);
    bottom: 40px;
    left: 50%;
    padding-right: 12px;
    position: absolute;
    cursor: pointer;
}
.arrow:hover {
    stroke: #ffffff;
}

/*---------- VIDEO CONTAINER BEHAVIOR ----------*/

.video-container {
    background-color: #C9AD88;
    display: flex;
    flex-wrap: wrap;
    line-height: 0px;
    justify-content: space-between;
}
.youtube-link {
    width: 50%;
    cursor: pointer;
}
.youtube-link:hover {
    opacity:0.5;
}
img {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .video-container {
        flex-direction: column;
        width: 100%;
    }
    .youtube-link {
        width: 100%;
        cursor: pointer;
    }
}

/*---------- YOUTUBE POP-UP FRAME ----------*/
.grtyoutube-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
}

.grtyoutube-popup-content {
	margin-top:150px;
	width:95%;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.grtyoutube-popup-close {
	position:absolute;
	top:-30px;
	right:0;
	color:#FFF;
	font-size:25px;
	width:17px;
	height:17px;
	cursor:pointer;
}

.grtyoutube-iframe {
	width:100%;
	height:480px;
}
@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}

.grtyoutube-dark-theme{
	background: rgba(0,0,0, 0.85);
}

/*
.grtyoutube-dark-theme .grtyoutube-popup-close {
	background: url('icon-close-white.png') no-repeat;
}
*/

/*---------- NEW THING ----------*/