/*---------- FONTS ----------*/
@font-face {
    font-family: "brandon_grotesqueblack";
    src: url('fonts/brandon_blk-webfont.woff2') format('woff2'),
         url('fonts/brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "brandon_grotesquemedium";
    src: url('fonts/brandon_med-webfont.woff2') format('woff2'),
         url('fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------- GLOBAL ----------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
    font-family: "brandon_grotesquemedium", sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
}
body {
    background-color: #151513;
    background-position: 0px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/*---------- NAVIGATION ----------*/
.nav {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    padding-top: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
.work {
    width: 100px;
    margin-top: 13px;
    text-align: right;
    padding-right: 60px;
}
.about {
    width: 100px;
    margin-top: 13px;
    text-align: left;
    padding-left: 67px;
}
.nav a {
    color: #C9AD88;
    text-decoration: none;
}
.nav a:hover {
    color: #ffffff;
}
.logo svg{
    width: 60px;
    height: auto;
    cursor: pointer;
    fill: #C9AD88;
}

/*---------- HEADER ----------*/
.frontpage {
    min-height: 100%;
    text-align: center;
    align-items: center;
}
.header {

}
.header-text {
    margin-top: 250px;
}
h1 {
    font-size: 80px;
    color: #ffffff;
    letter-spacing: 5px;
    font-family: "brandon_grotesqueblack", sans-serif;
}
.title {
    font-size: 33px;
    color: #C9AD88;
    letter-spacing: 10px;
}
.arrow svg {
    width: 19px;
    height: 19px;
    overflow: visible;
}
.arrow {
    fill: none;
    stroke: #C9AD88;
    stroke-width: 3;
    stroke-miterlimit: 10;
    transform: scale(2.5);
    bottom: 40px;
    left: 50%;
    padding-right: 15px;
    position: absolute;
    cursor: pointer;
}
.arrow:hover {
    stroke: #ffffff;
}

@media only screen and (max-width: 599px) {
    .title {
        font-size: 23px;
        letter-spacing: 5px;
        display: block;
    }
    h1 {
        display: block;
    }
}
/*---------- VIDEO CONTAINER BEHAVIOR ----------*/
.video-container {
    background-color: #151513;
    display: flex;
    flex-wrap: wrap;
    line-height: 0px;
    justify-content: space-between;
}
.youtube-link {
    width: 50%;
    cursor: pointer;
    position: relative;
}
.youtube-link img:hover {
    opacity:0.3;
    transition: .3s ease;
}
img {
    width: 100%;
}
.video-text {
    font-family: "brandon_grotesqueblack", sans-serif;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: 60px;
    left: 30px;
}
.video-info {
    font-family: "brandon_grotesquemedium", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.youtube-link:hover .video-text, .youtube-link:hover .video-info {
    opacity: 1;
    transition: .5s ease;
    pointer-events: none;
}

@media only screen and (max-width: 640px) {
    .video-container {
        flex-direction: column;
        width: 100%;
    }
    .youtube-link {
        width: 100%;
    }
}

/*---------- YOUTUBE POP-UP FRAME ----------*/
.grtyoutube-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
}

.grtyoutube-popup-content {
	margin-top:150px;
	width:95%;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.grtyoutube-popup-close {
	position:absolute;
	top:-30px;
	right:0;
	color:#FFF;
	font-size:25px;
	width:17px;
	height:17px;
	cursor:pointer;
}

.grtyoutube-iframe {
	width:100%;
	height:480px;
}
@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}

.grtyoutube-dark-theme{
	background: rgba(0,0,0, 0.85);
}

/*
.grtyoutube-dark-theme .grtyoutube-popup-close {
	background: url('icon-close-white.png') no-repeat;
}
*/
/*---------- ABOUT ME ----------*/
.about-me {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

/*---------- CONTACT FORM ----------*/
.contact-form-title {
    font-family: "brandon_grotesqueblack", sans-serif;
    color: #ffffff;
    font-size: 33px;
    margin:0 auto;
    margin-bottom: 50px;
    margin-top: 100px;
}
.contact-form {
    width: 50vw;
    max-width: 600px;
    margin:0 auto;
    caret-color: #C9AD88;
}
.contact-form-name {
    border-bottom: 2px solid #C9AD88;
    margin-bottom: 65px;
}
.contact-form-email {
    border-bottom: 2px solid #C9AD88;
    margin-bottom: 55px;
}
.contact-form-message {
    border-bottom: 2px solid #C9AD88;
    margin-bottom: 65px;
}
#my-form, textarea {
    font-family: "brandon_grotesquemedium", sans-serif;
    font-size: 18px;
    width: 100%;
}
#my-form-button {
    font-family: "brandon_grotesqueblack", sans-serif;
    font-size: 25px;
    color: #C9AD88;
}
#my-form-button:hover {
    color: #ffffff;
}
#my-form-status {
    color: #C9AD88;
}
::placeholder {
    color: #C9AD88;
}
textarea::placeholder {
    transform: translateY(14px);
}
textarea::-webkit-scrollbar {
    display: none;
}
button:hover {
    cursor: pointer;
}

input, textarea {
    font-family: "brandon_grotesquemedium", sans-serif;
    color: #ffffff;
    font-size: 18px;
    max-width: 600px;
    resize: none;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}
input:-webkit-autofill, select:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

/*---------- FOOTER ----------*/
footer {
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}
.footer-menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.copyright {
    font-family: "brandon_grotesqueblack", sans-serif;
    color: #C9AD88;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    margin-top: 13px;
    text-align: left;
}
.social {
    display: flex;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.linkedin {
    margin-left: 50px;
}
.linkedin svg {
    margin-top: 14px;
    width: 25px;
    height: 25px;
}
.linkedin g {
    fill: #C9AD88;
}
.linkedin g:hover {
    fill: #0077b5;
}
.email {
    margin-left: 30px;
}
.email svg {
    margin-top: 17px;
    fill: #C9AD88;
    width: 25px;
    height: 25px;
}
.email svg:hover {
    fill: #ffffff;
}

@media only screen and (max-width: 640px) {
    #footerLogo {
        visibility: hidden;
    }
    .footer-menu {
        flex-direction: column;
        align-items: center;
    }
    .linkedin {
        margin-left: 0px;
    }
    .copyright {
        text-align: center;
    }
}

/*---------- BACK TO TOP ARROW ----------*/
.arrow-top {
    fill: none;
    stroke: #C9AD88;
    stroke-width: 3;
    stroke-miterlimit: 10;
    bottom: 40px;
    right: 5%;
    position: fixed;
    cursor: pointer;
}
.arrow-top:hover {
    stroke: #ffffff;
}
.svg-top {
    transform: rotate(180deg);
    width: 47.5px;
    height: 47.5px;
    overflow: visible;
}

/*---------- NEW THING ----------*/