/*---------- FONTS ----------*/
@font-face {
    font-family: "brandon_grotesqueblack";
    src: url('fonts/brandon_blk-webfont.woff2') format('woff2'),
         url('fonts/brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "brandon_grotesquemedium";
    src: url('fonts/brandon_med-webfont.woff2') format('woff2'),
         url('fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------- GLOBAL ----------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
    font-family: "brandon_grotesquemedium", sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
}
body {
    background-color: #151513;
    background-position: 0px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.frontpage {
    min-height: 100%;
}

/*---------- NAVIGATION ----------*/
.nav {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    padding-top: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
.work {
    width: 100px;
    margin-top: 13px;
    text-align: right;
    padding-right: 50px;
}
.about {
    width: 100px;
    margin-top: 13px;
    text-align: left;
    padding-left: 55px;
}
.nav a {
    color: #C9AD88;
    text-decoration: none;
}
.nav a:hover {
    color: #ffffff;
}
.logo img {
    width: 55px;
    height: auto;
    cursor: pointer;
}

/*---------- HEADER ----------*/
.header {
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 80px;
    color: #ffffff;
    letter-spacing: 5px;
    font-family: "brandon_grotesqueblack", sans-serif;
}
p {
    font-size: 33px;
    color: #C9AD88;
    letter-spacing: 10px;
}
.arrow svg {
    width: 19px;
    height: 19px;
}
.arrow {
    fill: none;
    stroke: #C9AD88;
    stroke-width: 3;
    stroke-miterlimit: 10;
    transform: scale(2.5);
    bottom: 40px;
    left: 50%;
    padding-right: 15px;
    position: absolute;
    cursor: pointer;
}
.arrow:hover {
    stroke: #ffffff;
}

@media only screen and (max-width: 640px) {
    p {
        font-size: 23px;
    }
    h1 {
        font-size: 60px;
    }
}
/*---------- VIDEO CONTAINER BEHAVIOR ----------*/
.video-container {
    background-color: #151513;
    display: flex;
    flex-wrap: wrap;
    line-height: 0px;
    justify-content: space-between;
}
.youtube-link {
    width: 50%;
    cursor: pointer;
}
.youtube-link:hover {
    opacity:0.3;
    transition: .3s ease;
    
}
img {
    width: 100%;
}

@media only screen and (max-width: 640px) {
    .video-container {
        flex-direction: column;
        width: 100%;
    }
    .youtube-link {
        width: 100%;
    }
}

/*---------- YOUTUBE POP-UP FRAME ----------*/
.grtyoutube-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
}

.grtyoutube-popup-content {
	margin-top:150px;
	width:95%;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.grtyoutube-popup-close {
	position:absolute;
	top:-30px;
	right:0;
	color:#FFF;
	font-size:25px;
	width:17px;
	height:17px;
	cursor:pointer;
}

.grtyoutube-iframe {
	width:100%;
	height:480px;
}
@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}

.grtyoutube-dark-theme{
	background: rgba(0,0,0, 0.85);
}

/*
.grtyoutube-dark-theme .grtyoutube-popup-close {
	background: url('icon-close-white.png') no-repeat;
}
*/

/*---------- FOOTER ----------*/
footer {
    font-size: 18px;
    font-weight: 700;
    padding-top: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 81px;
}
.footer-menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
.copyright {
    font-family: "brandon_grotesqueblack", sans-serif;
    color: #C9AD88;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    margin-top: 13px;
    text-align: right;
    padding-right: 50px;
}
.linkedin {
    width: 200px;
    margin-left: 50px;
    
}
.linkedin svg {
    margin-top: 14px;
    fill: #C9AD88;
    width: 19px;
    height: 19px;
}
.linkedin g {
    fill: #C9AD88;
}
.linkedin g:hover {
    fill: #0077b5;
}

/*---------- BACK TO TOP ARROW ----------*/
.arrow-top {
    fill: none;
    stroke: #C9AD88;
    stroke-width: 3;
    stroke-miterlimit: 10;
    bottom: 40px;
    right: 5%;
    position: fixed;
    cursor: pointer;
}
.arrow-top:hover {
    stroke: #ffffff;
}
.svg-top {
    transform: rotate(180deg);
    width: 47.5px;
    height: 47.5px;
}

/*---------- NEW THING ----------*/