/*---------- FONTS ----------*/
@font-face {
    font-family: "brandon_grotesqueblack";
    src: url('fonts/brandon_blk-webfont.woff2') format('woff2'),
         url('fonts/brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "brandon_grotesquemedium";
    src: url('fonts/brandon_med-webfont.woff2') format('woff2'),
         url('fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*---------- GLOBAL ----------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
    font-family: "brandon_grotesquemedium", sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
}
body {
    background-image: url("/images/TaitoBG.jpg");
    background-color: #151513;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
@media only screen and (max-width: 820px) {
    body {
        background-size: 200%;
    }
}
/*---------- NAVIGATION ----------*/
.nav {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: 4em;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
.work {
    width: 100px;
    margin-top: .8em;
    text-align: center;
    padding-right: 4em;
}
.about {
    width: 100px;
    margin-top: .8em;
    text-align: center;
    padding-left: 4em;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.logo svg {
    width: 60px;
    height: auto;
    cursor: pointer;
    fill: #C9AD88;
}
.work a, .about a {
    box-shadow: 0 0 0px #151513;
    -webkit-transition-property: box-shadow, letter-spacing;
    -webkit-transition-duration: 0.3s, 0.5s;
    transition-property: box-shadow, letter-spacing;
    transition-duration: 0.5s, 0.5s;
  }
  .work a:hover, .work a:focus, .work a:active,  .about a:hover, .about a:focus, .about a:active {
    box-shadow: 0 10px 10px -10px #ffe6c6;
    letter-spacing: 7px;
  }

@media only screen and (max-width: 600px) {

    .work {
        padding-right: 2.5em;
    }
    .about {
        padding-left: 2.5em;
    }
}
/*---------- HEADER ----------*/
.frontpage {
    height: 100%;
    min-height: 100vh;
    text-align: center;
    align-items: center;
}
.header {

}
.header-text {
    margin-top: 8em;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
    letter-spacing: 2px;
}
.taito1 {
    color: #C9AD88
}
.arrow svg {
    width: 19px;
    height: 19px;
    overflow: visible;
}
.arrow {
    fill: none;
    stroke: #C9AD88;
    stroke-width: 3;
    stroke-miterlimit: 10;
    transform: scale(2.5);
    bottom: 40px;
    left: 50%;
    padding-right: 15px;
    position: absolute;
    cursor: pointer;
    display: block;
}

.arrow svg {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .arrow svg:hover, .arrow svg:focus, .arrow svg:active {
    stroke: #ffffff;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

@media only screen and (max-width: 599px) {

}

/*---------- VIDEO CONTAINER BEHAVIOR ----------*/
.video-container {
    background-color: #151513;
    display: flex;
    flex-wrap: wrap;
    line-height: 0px;
}
.youtube-link {
    width: 50%;
    cursor: pointer;
    position: relative;
}
.youtube-link img:hover {
    opacity:0.3;
    transition: .3s ease;
}
img {
    width: 100%;
}
.video-text {
    font-family: "brandon_grotesqueblack", sans-serif;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: 60px;
    left: 30px;
}
.video-info {
    font-family: "brandon_grotesquemedium", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.youtube-link:hover .video-text, .youtube-link:hover .video-info {
    opacity: 1;
    transition: .5s ease;
    pointer-events: none;
}

@media only screen and (max-width: 800px) {
    .video-container {
        flex-direction: column;
        width: 100%;
    }
    .youtube-link {
        width: 100%;
    }
}

/*---------- YOUTUBE POP-UP FRAME ----------*/
.grtyoutube-popup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999;
}

.grtyoutube-popup-content {
	margin-top:150px;
	width:95%;
	max-width:850px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.grtyoutube-popup-close {
	position:absolute;
	top:-30px;
	right:0;
	color:#FFF;
	font-size:25px;
	width:17px;
	height:17px;
	cursor:pointer;
}

.grtyoutube-iframe {
	width:100%;
	height:480px;
}
@media (max-width:767px) {
	.grtyoutube-iframe {
		width:100%;
		height:350px;
	}
}

.grtyoutube-dark-theme{
	background: rgba(0,0,0, 0.85);
}

/*
.grtyoutube-dark-theme .grtyoutube-popup-close {
	background: url('icon-close-white.png') no-repeat;
}
*/
/*---------- ABOUT ME ----------*/
.about-me {
    background-color: #151513;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
}
.my-info {
    margin-top: 8em;
    font-size: 23px;
    color: #ffffff;
    text-transform: uppercase;
}
.contact-icon {
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -20px;
    cursor: pointer;
}
.contact-icon-svg {
    fill: #C9AD88;
    width: 35px;
    height: 35px;
}
.contact-icon-svg:hover {
    fill: #ffffff;
}
.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.contact-below {
    position: absolute;
    left: 50%;
    bottom: 110px;
    margin-left: -185px;
    font-size: 18px;
}

/*---------- CONTACT FORM ----------*/
.contact-form-title {
    color: #ffffff;
    margin:0 auto;
    margin-bottom: 50px;
    padding-top: 70px;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
}
.contact-form {
    width: 50vw;
    max-width: 600px;
    margin:0 auto;
    caret-color: #C9AD88;
}
.contact-form-name, .contact-form-message {
    border-bottom: 2px solid #C9AD88;
    margin-bottom: 65px;
}
.contact-form-email {
    border-bottom: 2px solid #C9AD88;
    margin-bottom: 55px;
}
#my-form, textarea {
    font-family: "brandon_grotesquemedium", sans-serif;
    font-size: 18px;
    width: 100%;
}
#my-form-button {
    font-family: "brandon_grotesqueblack", sans-serif;
    font-size: 23px;
    color: #ffffff;

    box-shadow: 0 0 1px #151513;
    -webkit-transition-property: box-shadow, letter-spacing;
    -webkit-transition-duration: 0.3s, 0.5s;
    transition-property: box-shadow, letter-spacing;
    transition-duration: 0.3, 0.5s;
}
#my-form-button:hover, #my-form-button:focus, #my-form-button:active {
    box-shadow: 0 10px 10px -10px #ffe6c6;
    letter-spacing: 2px;
  }

#my-form-status {
    color: #C9AD88;
}
::placeholder {
    color: #C9AD88;
}
textarea::placeholder {
    transform: translateY(14px);
}
textarea::-webkit-scrollbar {
    display: none;
}
button:hover {
    cursor: pointer;
}

input, textarea {
    font-family: "brandon_grotesquemedium", sans-serif;
    color: #ffffff;
    font-size: 18px;
    max-width: 600px;
    resize: none;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}
input:-webkit-autofill, select:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

/*---------- FOOTER ----------*/
footer {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
.footer-menu {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.copyright {
    font-family: "brandon_grotesqueblack", sans-serif;
    color: #C9AD88;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    margin-top: 13px;
    text-align: left;
}
.social {
    display: flex;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.linkedin {
    margin-left: 50px;
}
.linkedin svg {
    margin-top: 14px;
    width: 25px;
    height: 25px;
}
.linkedin g {
    fill: #C9AD88;
}
.linkedin g:hover {
    fill: #0077b5;
}
.email {
    margin-left: 30px;
}
.email svg {
    margin-top: 17px;
    fill: #C9AD88;
    width: 25px;
    height: 25px;
}
.email svg:hover {
    fill: #ffffff;
}

@media only screen and (max-width: 820px) {
    footer {
        bottom: 40px;
    }
    #footerLogo {
        visibility: hidden;
    }
    .footer-menu {
        flex-direction: column;
        align-items: center;
    }
    .linkedin {
        margin-left: 0px;
    }
    .copyright {
        text-align: center;
    }
}

/*---------- BACK TO TOP ARROW ----------*/
.arrow-top {
    fill: none;
    stroke: #C9AD88;
    stroke-width: 3;
    stroke-miterlimit: 10;
    bottom: 40px;
    right: 5%;
    position: fixed;
    cursor: pointer;
}
.arrow-top:hover {
    stroke: #ffffff;
}
.arrow-top svg {
    width: 47.5px;
    height: 47.5px;
    overflow: visible;
    transform: rotate(180deg);
}
.arrow-top svg {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .arrow-top svg:hover, .arrow-top svg:focus, .arrow-top svg:active {
    stroke: #ffffff;
    -webkit-transform: rotate(180deg) translateY(15px);
    transform: rotate(180deg) translateY(15px);
  }
/*---------- NEW THING ----------*/